/* Code by Elisa Imanuel Liminto */

body {
  font-family: "Poppins";
  background-color: #0d3b66;
  color: white;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #e4f923;
}

.highlighted-paragraph {
  background-color: #2a9d8f;
  padding: 20px;
  border-radius: 10px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
}

.question {
  margin-bottom: 40px;
  margin-left: 20%;
  margin-right: 20%;
  color: #e4f923;
}

.answers {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
}

.answer {
  background-color: #ffffff;
  color: #000;
  padding: 20px 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.answer:hover {
  transform: scale(1.1);
  background-color: #c6c5c5;
}

.answer.correct {
  background-color: #4caf50;
  color: white;
}

.answer.wrong {
  background-color: #f44336;
  color: white;
}

.home-btn {
  display: inline-block;
  background-color: #687911;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2em;
  text-decoration: none;
  margin-top: 20px;
}

.home-btn:hover {
  background-color: #9aaf63;
}

/* Responsive for mobile */
@media (max-width: 768px) {
  .question {
    margin-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .highlighted-paragraph {
    margin-left: 5%;
    margin-right: 5%;
  }

  .answers {
    flex-direction: column;
    gap: 23%;
  }

  .answer {
    margin-bottom: 15px;
    padding: 15px;
    font-size: 1em;
  }
}
